@{
    ViewData["Title"] = "Search Orders";
}


<form method="post" asp-action="Results">
    <div class="mb-3">
        <label class="form-label">Search orders</label>
        <input class="form-control" name="keyword" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
